/build/
/Percolation/nbproject/private/
/Percolation/build/
/StacksNQueues/nbproject/private/
/StacksNQueues/build/
/StacksNQueues/dist/
/ColinearPoints/nbproject/private/
/CollinearPoints/nbproject/private/
/CollinearPoints/build/
/EightPuzzle/nbproject/private/
/EightPuzzle/build/